<!-- Headings -->
<h2 class="content-heading">Headings</h2>
<div class="row">
    <div class="col-lg-6">
        <!-- Bold -->
        <div class="block block-rounded block-bordered">
            <div class="block-header block-header-default">
                <h3 class="block-title">Bold
                    <small>(600 - Default)</small>
                </h3>
            </div>
            <div class="block-content">
                <h1>h1. Title
                    <small>Subtitle</small>
                </h1>
                <h2>h2. Title
                    <small>Subtitle</small>
                </h2>
                <h3>h3. Title
                    <small>Subtitle</small>
                </h3>
                <h4>h4. Title
                    <small>Subtitle</small>
                </h4>
                <h5>h5. Title
                    <small>Subtitle</small>
                </h5>
            </div>
        </div>
        <!-- END Bold -->
    </div>
    <div class="col-lg-6">
        <!-- Extra Bold -->
        <div class="block block-rounded block-bordered">
            <div class="block-header block-header-default">
                <h3 class="block-title">Extra Bold
                    <small>(700)</small>
                </h3>
            </div>
            <div class="block-content">
                <h1 class="font-w700">h1. Title
                    <small>Subtitle</small>
                </h1>
                <h2 class="font-w700">h2. Title
                    <small>Subtitle</small>
                </h2>
                <h3 class="font-w700">h3. Title
                    <small>Subtitle</small>
                </h3>
                <h4 class="font-w700">h4. Title
                    <small>Subtitle</small>
                </h4>
                <h5 class="font-w700">h5. Title
                    <small>Subtitle</small>
                </h5>
            </div>
        </div>
        <!-- END Extra Bold -->
    </div>
    <div class="col-lg-6">
        <!-- Normal -->
        <div class="block block-rounded block-bordered">
            <div class="block-header block-header-default">
                <h3 class="block-title">Normal
                    <small>(400)</small>
                </h3>
            </div>
            <div class="block-content">
                <h1 class="font-w400">h1. Title
                    <small>Subtitle</small>
                </h1>
                <h2 class="font-w400">h2. Title
                    <small>Subtitle</small>
                </h2>
                <h3 class="font-w400">h3. Title
                    <small>Subtitle</small>
                </h3>
                <h4 class="font-w400">h4. Title
                    <small>Subtitle</small>
                </h4>
                <h5 class="font-w400">h5. Title
                    <small>Subtitle</small>
                </h5>
            </div>
        </div>
        <!-- END Normal -->
    </div>
    <div class="col-lg-6">
        <!-- Light -->
        <div class="block block-rounded block-bordered">
            <div class="block-header block-header-default">
                <h3 class="block-title">Light
                    <small>(300)</small>
                </h3>
            </div>
            <div class="block-content">
                <h1 class="font-w300">h1. Title
                    <small>Subtitle</small>
                </h1>
                <h2 class="font-w300">h2. Title
                    <small>Subtitle</small>
                </h2>
                <h3 class="font-w300">h3. Title
                    <small>Subtitle</small>
                </h3>
                <h4 class="font-w300">h4. Title
                    <small>Subtitle</small>
                </h4>
                <h5 class="font-w300">h5. Title
                    <small>Subtitle</small>
                </h5>
            </div>
        </div>
        <!-- END Light -->
    </div>
    <div class="col-12">
        <!-- Hero Headings -->
        <div class="block block-rounded block-bordered">
            <div class="block-header block-header-default">
                <h3 class="block-title">Headings</h3>
            </div>
            <div class="block-content block-content-full">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="display-1"><span class="d-none d-sm-inline-block">Title</span> Display 1</h2>
                        <h2 class="display-2"><span class="d-none d-sm-inline-block">Title</span> Display 2</h2>
                    </div>
                    <div class="col-lg-6">
                        <h2 class="display-3"><span class="d-none d-sm-inline-block">Title</span> Display 3</h2>
                        <h2 class="display-4"><span class="d-none d-sm-inline-block">Title</span> Display 4</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Hero Headings -->
    </div>
</div>
<!-- END Headings -->
