<main id="main-container">
    <!-- Add Content Title Here b.breadcrumbs -->
    <!-- Hero -->
    <div class="bg-body-light">
        <div class="content content-full">
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
                <h1 class="flex-sm-fill font-size-h2 font-w400 mt-2 mb-0 mb-sm-2">Teacher Dashboard</h1>
                <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">App</a></li>
                        <li class="breadcrumb-item active font-w600" aria-current="page "><a href="/teacher_dashboard">Teacher
                            Dashboard</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- END Hero -->
    <!--
        panel.row
        panel.column
        panel.panel
        panel.panel

        ---------------
        panel.row
        panel.column
        panel.panel
        panel.column
        panel.panel

        |--------------||--------------|
        |              ||              |
        |--------------||--------------|

    -->
    <div class="row row-deck ">
        <div class="col-md-6 bg-body-dark">
            <div class="content">
                <div class="block block-rounded block-bordered block-themed block-fx-shadow">
                    <div class="block-header bg-xmodern">
                        <h3 class="block-title">Test</h3>
                    </div>
                    <div class="block-content">
                        Blah!
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 bg-body-dark">
            <div class="content">
                <div class="block block-rounded block-bordered block-themed block-fx-shadow">
                    <div class="block-header bg-xmodern">
                        <h3 class="block-title">Test 2</h3>
                    </div>
                    <div class="block-content">
                        Blah Blah!
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-deck">
        <div class="col-md-12 bg-body-dark">
            <div class="content">
                <div class="block block-rounded block-bordered block-themed block-fx-shadow">
                    <div class="block-header bg-xmodern">
                        <h3 class="block-title">Test 3</h3>
                    </div>
                    <div class="block-content">
                        Blah Blah Blah!
                    </div>
                </div>
                <div class="block block-rounded block-bordered block-themed block-fx-shadow">
                    <div class="block-header bg-xmodern">
                        <h3 class="block-title">Test 4</h3>
                    </div>
                    <div class="block-content">
                        Blah Blah Blah Blah!
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
